/* font-family: 'Baloo Tamma', cursive;
font-family: 'Roboto', sans-serif;
font-family: 'Montserrat', sans-serif;*/

#contenido
{
	width: 1000px;
	height: auto;
	margin: auto;
	position: relative;
	background: red;

}